body, ul, li {
    margin: 0;
    padding: 0;
    background-color: #F0FFFF;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

p {
    text-indent: 2em;
    text-align: justify;
    line-height: 2em;
}

header {
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: #87CEFA;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    position: fixed;
    top: 0;
}

.product p {
    text-indent: 0;
    text-align: center;
}

.contact {
    padding-top: 150px;
}

.contact p {
    text-align: center;
    text-indent: 0;
}

.fixed-blank {
    height: 111px;
}

.nav-box {
    width: 100%;
    position: fixed;
    top: 60px;
}

.nav {
    padding: 15px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: #00BFFF;
    text-decoration: none;
}

.content {
    padding: 10px 20px;
}

.content h2 {
    text-align: center;
}

.content-image {
    overflow: hidden;
}

.content-image img {
    width: 100%;
}

.content-desc p {
    text-indent: 2em;
    font-size: 16px;
}

.content-phone {
    text-align: center;
}

.footer-blank {
    height: 50px;
}

footer {
    height: 40px;
    text-align: center;
    background-color: #87CEFA;
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
}