body, ul, li {
    margin: 0;
    padding: 0;
    background-color: #F0FFFF;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

p {
    text-indent: 2em;
    text-align: justify;
    line-height: 2em;
}

header {
    height: 100px;
    background-color: #87CEFA;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #FFFFFF;
    font-weight: bolder;
    letter-spacing: 20px;
}

.product p {
    text-align: center;
}

.contact {
    padding: 250px 0;
}

.contact p {
    text-align: center;
}

.nav {
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
}

.nav li {
    display: inline-block;
    font-size: 20px;
}

.nav li a {
    color: #00BFFF;
    text-decoration: none;
}

.content {
    width: 800px;
    margin: 0 auto;
    min-height: calc(100vh - 286px);
}

.content h2 {
    text-align: center;
}

.content-image {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.content-image img {
    width: 100%;
    position: absolute;
    top: -95px;
    left: 0;
}

.content-desc p {
    text-indent: 2em;
    font-size: 16px;
}

.content-phone {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #87CEFA;
    height: 100px;
    line-height: 100px;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #FFFFFF;
    font-size: 16px;
}